
@{
    ViewBag.Title = "BlogGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <h1>sdsdsa</h1>
    <h1>sdsdsa</h1>
    <h1>sdsdsa</h1>
    <h1>sdsdsa</h1>
    <h1>sdsdsa</h1>
    <div class="container">
        <div class="row justify-content-md-center p-2">
            <div class="col-md-auto">
                <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">
                    <option value="" selected>Chọn tỉnh thành</option>
                </select>

                <select class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm">
                    <option value="" selected>Chọn quận huyện</option>
                </select>

                <select class="form-select form-select-sm" id="ward" aria-label=".form-select-sm">
                    <option value="" selected>Chọn phường xã</option>
                </select>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="~/js/javascript2.js"></script>
</body>