
@{
    ViewBag.Title = "PrcingPlan";
}

<!-- Pricing Plan Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase">Pricing Plans</h6>
            <h1 class="display-5 text-uppercase mb-0">Affordable Plans for Pet Services</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="bg-light text-center pt-5 mt-lg-5">
                    <h2 class="text-uppercase">Basic</h2>
                    <h6 class="text-body mb-5">Essential Features</h6>
                    <div class="text-center bg-primary p-4 mb-2">
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>49<small class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mo</small>
                        </h1>
                    </div>
                    <div class="text-center p-4">
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Pet Grooming</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Basic Nutrition</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Health Checkups</span>
                                <i class="bi bi-x fs-4 text-danger"></i>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Pet Accessories</span>
                                <i class="bi bi-x fs-4 text-danger"></i>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary text-uppercase py-2 px-4 my-3">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-light text-center pt-5">
                    <h2 class="text-uppercase">Standard Care</h2>
                    <h6 class="text-body mb-5">Essential Pet Services</h6>
                    <div class="text-center bg-dark p-4 mb-2">
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>99<small class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mo</small>
                        </h1>
                    </div>
                    <div class="text-center p-4">
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Pet Grooming</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Basic Nutrition</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Regular Health Checkups</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Essential Pet Accessories</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary text-uppercase py-2 px-4 my-3">Order Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bg-light text-center pt-5 mt-lg-5">
                    <h2 class="text-uppercase">Premium Care</h2>
                    <h6 class="text-body mb-5">Complete Pet Services</h6>
                    <div class="text-center bg-primary p-4 mb-2">
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>149<small class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mo</small>
                        </h1>
                    </div>
                    <div class="text-center p-4">
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Premium Pet Food</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Professional Grooming Services</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Health and Wellness Products</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Regular Health Checkups</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Premium Pet Accessories</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-1">
                                <span>Specialized Training Services</span>
                                <i class="bi bi-check2 fs-4 text-primary"></i>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary text-uppercase py-2 px-4 my-3">Order Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Pricing Plan End -->