@{
    ViewBag.Title = "Testimonial";

}

<!-- Testimonial Start -->
<div class="container-fluid bg-testimonial py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="owl-carousel testimonial-carousel bg-white p-5">
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-4">
                            <img class="img-fluid mx-auto" src="~/img/testimonial-1.jpg" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                                <i class="bi bi-chat-square-quote text-primary"></i>
                            </div>
                        </div>
                        <p>I love Petshop! They have the best selection of pet food and supplies, and the staff is always so helpful and knowledgeable. I highly recommend them to any pet owner.</p>
                        <hr class="w-25 mx-auto">
                        <h5 class="text-uppercase">John Doe</h5>
                        <span>Pet Owner</span>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-4">
                            <img class="img-fluid mx-auto" src="~/img/testimonial-1.jpg" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                                <i class="bi bi-chat-square-quote text-primary"></i>
                            </div>
                        </div>
                        <p>Petshop is my go-to place for everything pet-related. They have a great selection of products, and the staff is always friendly and helpful. I highly recommend them to any pet owner.</p>
                        <hr class="w-25 mx-auto">
                        <h5 class="text-uppercase">Jane Doe</h5>
                        <span>Pet Owner</span>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-4">
                            <img class="img-fluid mx-auto" src="~/img/testimonial-1.jpg" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                                <i class="bi bi-chat-square-quote text-primary"></i>
                            </div>
                        </div>
                        <p>We found the perfect pet accessories here. The quality is top-notch, and the staff is incredibly knowledgeable and helpful.</p>
                        <hr class="w-25 mx-auto">
                        <h5 class="text-uppercase">Satisfied Pet Parent</h5>
                        <span>Happy Fur Family</span>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-4">
                            <img class="img-fluid mx-auto" src="~/img/testimonial-2.jpg" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                                <i class="bi bi-chat-square-quote text-primary"></i>
                            </div>
                        </div>
                        <p>We recently adopted a lovely pet from this store. The entire process was smooth, and the staff provided excellent guidance on pet care.</p>
                        <hr class="w-25 mx-auto">
                        <h5 class="text-uppercase">Pet Lover</h5>
                        <span>Animal Advocate</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Testimonial End -->
